.home-page {
    width: 100%;
    min-height: 100vh;

    .content {
        max-width: 1300px;
        margin: 0 auto;
        padding: 100px 20px;
        height: 100%;

        .add-btn {
            margin-bottom: 10px;
            height: 36px;
            width: 100%;
            background-color: greenyellow;
            color: #0c0c0c;
            border: none;

            &:hover {
                background-color: darken($color: greenyellow, $amount: 20%);
            }

            @media (min-width: 768px) {
                width: 120px;
            }
        }
        .close-btn {
            height: 36px;
            width: 100%;
            @media (min-width: 768px) {
                width: 120px;
            }
        }

        .delete-btn {
            margin-bottom: 10px;
            height: 36px;
            width: 120px;
            background-color: red;
            color: #fff;
            border: none;
            &:hover {
                background-color: darken($color: red, $amount: 10%);
            }
        }

        .pie-chart {
            margin: 50px auto;
            max-width: 500px;
        }
    }
}
