@font-face {
    font-family: LatoRegular;
    src: url(https://res.cloudinary.com/dalkffrhf/raw/upload/v1692265335/NexTrack/font/Lato-Regular_iut1rx.ttf);
}

@font-face {
    font-family: LatoBold;
    src: url(https://res.cloudinary.com/dalkffrhf/raw/upload/v1692265333/NexTrack/font/Lato-Bold_kzkijq.ttf);
}

@font-face {
    font-family: LatoLight;
    src: url(https://res.cloudinary.com/dalkffrhf/raw/upload/v1692265333/NexTrack/font/Lato-Light_vmoupr.ttf);
}
