.successMsg {
  background-color: #e0f3e8;
  border: 1px solid #65c18c;
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  min-height: 38px;
  max-height: 38px;
  height: 38px;
  text-align: center;
  padding: 0;
}

.errorMsg {
  color: #fff;
  background-color: #c65050;
  border-radius: 100px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  min-height: 38px;
  max-height: 38px;
  height: 38px;
  text-align: center;
  padding: 0;
}

.fixMsg {
  color: #fff;
  background-color: #020246;
  border-radius: 100px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  min-height: 38px;
  max-height: 38px;
  height: 38px;
  text-align: center;
  padding: 0;
  border: 1px solid #c0c0c0;
}
